@font-face {
    font-family: Handjet;
    src: url('./Handjet-VariableFont_ELGR\,ELSH\,wght.ttf')
}

* {
    font-family: Handjet;
    font-size: 50px;
}

.calculator {
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

#screen {
    flex: 1;
    background-color: darkgray;
    height: 45px;
}

#screen div {
    display: flex;
    justify-content: end;
    padding: 0 40px 0 0;
}

.edits {
    display: flex;
}

.edits button {
    flex:1;
    height: 75px;
}

.keys {
    display: flex;
    height: 450px;
}

.input button {
    width: 125px;
    background-color: darkorange;
    font-size: 50px;
    border-style: solid;
    border-color: rgb(176, 114, 0);
}
.input,
.rechenzeichen {
    display:flex;
    flex-wrap: wrap;
    
}

.rechenzeichen {
    flex-direction: column;
}

.rechenzeichen button {
    flex: 1;
    width: 125px;
    background-color: grey;
    font-size: 50px;
    border-style: solid;
}