@font-face {
    font-family: Handjet;
    src: url('./Handjet-VariableFont_ELGR\,ELSH\,wght.ttf')
}

* {
    font-family: Handjet;
    font-size: 50px;
}

body {
    display: flex;
    justify-content: center;
    background-color:#9EB384;
    flex-direction: column;
}

p {
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.calculator {
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FAF1E4;
    border-radius: 7px;
    border-style: outset;
    border-width: 7px;
    border-color: #CEDEBD;
    padding-bottom: 5px;
    align-self: center;
}

#screen {
    flex: 1;
}


#screen div {
    display: flex;
    height: 56px;
    justify-content: end;
    padding: 0 40px 0 0;
}

.topBar {
    display: flex;
    gap: 5px;
    padding: 0 4px;
    height: 95px;
}

.topBar button {
    flex:1;
    border-radius: 7px;
    border: none;
    background-color: #435334;
    color: #9EB384
}

.topBar #division {
    flex: 0 0 120px;
    font-size: 50px;
}

.keys {
    display: flex;
    height: 400px;
    flex-direction: column;
    padding: 0 4px;
    gap: 4px;
}





.input button {
    margin-top: 5px;
}


.input button,
.bottom button {
    width: 120px;
    font-size: 50px;
    border: none;
    background-color: #461111;
    border-radius: 7px;
    color: #9EB384;
}

.input{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2;
}

.bottom {
    display: flex;
    justify-content: space-between;
    height: 100px;
    gap: 4px;
}

#equals {
    flex: 2;
}

#multiplication, 
#minus,
#plus,
#equals {
    background-color: #435334;
}

button {
    padding: 0;
}

button:hover {
    opacity: 0.8;
}
