@font-face {
    font-family: Handjet;
    src: url('./Handjet-VariableFont_ELGR\,ELSH\,wght.ttf')
}

* {
    font-family: Handjet;
    font-size: 50px;
}

body {
    display: flex;
    justify-content: center;
    background-color:#9EB384;
}

.calculator {
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FAF1E4;
    border-radius: 7px;
    border-style: outset;
    border-width: 7px;
    border-color: #CEDEBD;
    padding-bottom: 5px;
}

#screen {
    flex: 1;
}

#screen div {
    display: flex;
    justify-content: end;
    padding: 0 40px 0 0;
}

.topBar {
    display: flex;
    gap: 5px;
    margin: 0 5px;
    height: 95px;
}

.topBar button {
    flex:1;
    border-radius: 7px;
    border: none;
    background-color: #435334;
    color: #9EB384
}

.topBar #division {
    flex: 0 0 120px;
    font-size: 50px;
}

.keys {
    display: flex;
    height: 400px;
}


.input button {
    width: 120px;
    font-size: 50px;
    border: none;
    background-color: #461111;
    border-radius: 7px;
    margin-top: 5px;
    color: #9EB384;
}
.input{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#multiplication, 
#minus,
#plus,
#equals {
    background-color: #435334;
}
